**/*.spec.js
.DS_Store
.eslintignore
.eslintrc.json
.github/
.vs
.vscode
__snapshots__
__tests__
coverage/
docker-compose.yml
jest.config.js
junit.xml
node_modules/
scripts/
test-report.xml
types/test.ts
types/tsconfig.json
yarn-error.log